.tabs .active{
  font-weight:bold;
}

div.tab-pane {
  display:none;
}

div.tab-pane.active {
  display:block;
  transition: opacity 0.5s linear;
}

.transitioning {
  opacity: 0;
  display: block;
  transition: opacity 0.5s linear;
}